.quicktext_container {
  margin: .25em 0 .25em 0;
  position: relative;
}
.quicktext_button {
  float: left;
  display: inline;
  margin-right: .25em;
}
.quicktext_button.right {
  float: right;
  margin: 0 0 0 .25em;
}
.quicktext_button img {
  float: left;
  display: inline;
}
.quicktext_clear {
  clear: both; height: 0; line-height: 0; font-size: 0;
}
.quicktext_preview {
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  top: 25px;
  right: 0;
  width: 0;
  height: 0;
  overflow: auto;
}